.inline-block{
    display: inline-block;
}

body{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}

.single-block{
    width: 62.5px;
    height: 62.5px;
    background-color: black;
}

.drawing-board{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}